

.icon {
  max-height: 48px;
  border-radius: 20%;
}

body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

header {
  margin-top: 16px;
  margin-bottom: 25px;
}

h1 {
  font-size: 58px;
  margin-bottom: 16px;
  color: #777777;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 300px;
}

.header-img {
  width: 355px;
  margin-bottom: 10px;
  height: 100px;
  object-fit: cover;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
  min-width: 280px;
}

input:focus {
  outline: 1px solid #b8b7b7;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
  outline: none;
}

.icon {
  height: 70px;
}
.temp {
  font-size: 60px;
  font-weight: 1;
  color: #949494;
  padding-left: 16px;
}

.sub-icon{
  font-size: 24px;
  color: rgb(122, 160, 211);
  padding-left: 18px;
}

.weather-disc {
  padding-left: 6px;
  font-family: arial;
  font-size: 18px;
  font-weight: 0.6;
  color: #888888;
}

footer {
  color: #888888;
  font-size: 12px;
  border-top: 1px solid #eeeeee;
  margin-top: 5px;
  padding: 5px 0;
}